header {
    position: fixed;
    width: 100%;
    background-color: #F2E9D8;
    padding: 24px 0;
}

header .container {
    display:flex;
    justify-content: space-between;
}

main {
    /* width: 100%; */
    padding-top: 120px;
}

.container {
    margin: 0 auto ;
    max-width: 1280px;
    width: 100%;
    /* padding: 80px 0; */
    display: flex;
    gap: 130px;
    align-items: center;
}

nav.menu {
    display: flex;
    align-items: center;
}

ul.menu-list {
    display: flex;
}

ul.menu-list li {
    margin-left: 30px;
}

nav .btn {
    
    margin-left: 40px;
}

.btn {
    background-color: #D97652;
    color: #fff;
    padding: 14px 30px;
    border-radius: 40px;
}

main {
    background-color: #F2E9D8
}

section.text-content {
   background-color: #fff; 
}

.text-container {
    padding: 142px 0
}

.content .text {
    margin: 40px 0;
    max-width: 434px;
}

.text-container .title {
    font-size: 48px;
}

.text-container .text {
    font-size: 16px;
}

section.text-content img {
    width: 660px;
    height: 390px;
    border-radius: 12px;
}

section.more-content {
    text-align: center;
    background-color: #fff;
}

section.more-content .text {
    margin: 40px auto;
    max-width: 734px;
}

section.more-content .text-container {
    padding: 110px 0 80px;
}

section.more-content .item-container {
    display: grid;
    gap: 38px;
    grid-template-columns: 1fr 1fr 1fr;
}

section.more-content .item img{
    width: 378px;
    height: 378px;
    border-radius: 30px;
}

section.more-content .container {
    max-width: 940px;
    padding: 80px 0;
    gap: 54px;
    text-align:start;
    word-break:keep-all;
}


footer .container {
    display: flex;
    justify-content: space-between;
    padding: 44px 0;
}

footer ul.social-list {
    display: flex;
    gap: 20px;
}