header {
    position: fixed;
    width: 100%;
    background-color: #F2E9D8;
    padding: 24px 0;
}

main {
    padding-top: 120px;
}

.container {
    margin: 0 auto;
    width: 1280px;
    display:flex;
    justify-content: space-between;
}

nav.menu {
    display: flex;
    align-items: center;
}

ul.menu-list {
    display: flex;
}

ul.menu-list li {
    margin-left: 30px;
}

nav .btn {
    
    margin-left: 40px;
}

.btn {
    background-color: #D97652;
    color: #fff;
    padding: 14px 30px;
    border-radius: 40px;
}
