header {
    position: fixed;
    width: 100%;
    background-color: #F2E9D8;
    padding: 24px 0;
}

header .container {
    display:flex;
    justify-content: space-between;
}

main {
    width: 100%;
    padding-top: 120px;
}

.container {
    margin: 0 auto ;
    padding-top: 80px;
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    gap: 130px;
    align-items: center;
}

nav.menu {
    display: flex;
    align-items: center;
}

ul.menu-list {
    display: flex;
}

ul.menu-list li {
    margin-left: 30px;
}

nav .btn {
    
    margin-left: 40px;
}

.btn {
    background-color: #D97652;
    color: #fff;
    padding: 14px 30px;
    border-radius: 40px;
}

main {
    background-color: #F2E9D8
}

section.text-content {
   background-color: #fff; 
}

.text-container {
    padding: 142px 0
}

.content .text {
    margin: 40px 0;
    max-width: 434px;
}

.text-container .title {
    font-size: 48px;
}

.text-container .text {
    font-size: 16px;
}


section.text-content img {
    width: 660px;
    height: 390px;
    border-radius: 12px;
}